html, body {
  padding: 0;
  margin: 0;
}

body {
  background: white;

  font-family: dejavu sans, verdana, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

#header #menu {
  color: white;
}

#header #menu a {
  border: none;
  color: white;
}

#header #menu a:first-child {
  border: none;
}

#header #menu a:hover {
  color: #8fbff3;
  text-decoration: underline;
  background: none;
}

.main {
  box-sizing: border-box;
  padding: 30px 10px 50px 10px;
}

h1 {
  color: #4D4D4D;
  font-size: 160%;
  margin-bottom: 40px;
}

h2 {
  font-size: 120%;
  color: #3c80d9;
  margin: 30px 0 10px 0;
}

h3 {
  font-size: 100%;
  color: #4D4D4D;
  margin-top: 30px;
}

p {
  color: #4D4D4D;
}

a {
  color: #4D4D4D;
}
a:hover {
  color: red;
}

h2 a,
h2 a:hover {
  text-decoration: none;
  color: #4D4D4D;
}


.hidden {
  visibility: hidden;
  position: absolute;
  overflow: auto;
}

input.editor-expr {
  margin: 0;
  width: 100%;
  border: none;
  color: #1A1A1A;
}
div.editor-ans {
  /*color: #4D4D4D;*/
  color: gray;
  margin-left: 20px;
  margin-right: 20px;
}
div.editor-error {
  color: red;
  margin-left: 20px;
}

img {
  border: none;
}

table {
  border-collapse: collapse;
  font-size: 100%;
}

table.header {
  color: white;
  background-color: #92B8DE;

  margin-bottom: 20px;

  border-radius: 3px;
}



td.header {
  padding: 10px;
  margin: 0;
}
form.search {
  padding: 0;
  margin: 0;
}

td, th {
  padding: 5px;
  /*color: #4D4D4D;*/
  vertical-align: top;
}
th {
  font-weight: bold;
  text-align: left;
}

table.help {
  margin: 20px 0;
}

table.help th {
  text-align: left;
  color: white;
  background-color: #1f215f;
  border: 1px solid #1f215f;
  padding: 4px;
}

table.help td {
  color: #4D4D4D;
  border: 1px solid #1f215f;
  padding: 4px;
}

div.container {
  padding: 0;
  margin: 0;
}

div.examples {
  border: 1px solid #1f215f;
}
div.help-footer {
  font-size: 80%;

  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #CCCCCC;
  color: #CCCCCC;
}
div.help-error {
  color: red;
  padding-top: 0;
  padding-bottom: 20px;
}

ul{
  list-style-type: square;
  color: #4D4D4D;
}

code {
  background-color: #F5F5F5;
  font-family: dejavu sans mono, droid sans mono, monospace, courier new, courier, monospace;
}
